<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>题库</title>
</head>
<body>
    <table border="">
        <thead>
            <tr>
                <th>名称</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <th>{{ i.name }}</th>
                <th>
                    <a href="{% url 'question_list' i.id %}">详情</a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'add_bank' %}" method="post">
        {% csrf_token %}
        创建题库
        <input type="text" name="name">
        <button type="submit">添加</button>
    </form>
</body>
</html>